@if not map-get($container,"disabled") {
    .container, .container-fluid {
        @if map-get($container, "centered"){
            margin-right: auto;
            margin-left: auto;
        }
        width: 100%;
    }

    @if $responsive-type == "up" {
        @each $name, $width in $breakpoints {
            @if $width != null {
                @include media-breakpoint-up($name, $width) {
                    .container {
                        max-width: $width;
                    }
                }
            }
        }
    } @else if $responsive-type == "down" {
        @each $name, $width in $breakpoints {
            $prev-width: prev-breakpoint-width($name);
            @if $prev-width != null {
                @include media-breakpoint-up($name, $prev-width + 1) {
                    .container {
                        max-width: $prev-width + 1;
                    }
                }
            }
        }
    }
}