@mixin kernel($mixinName) {
    @if $mixinName == "sr-only" {
        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            border: 0;
            margin: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
        }
    }

    @if $mixinName == "not-sr-only" {
        .not-sr-only {
            position: static;
            width: auto;
            height: auto;
            overflow: visible;
            clip: auto;
            white-space: normal;
        }
    }

    @if $mixinName == "transform" {
        .transform {
            --transform-translate-x: 0;
            --transform-translate-y: 0;
            --transform-rotate: 0;
            --transform-skew-x: 0;
            --transform-skew-y: 0;
            --transform-scale-x: 1;
            --transform-scale-y: 1;
            transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y)) !important;
        }
    }

    @if $mixinName == "no-transform" {
        .no-transform {
            transform: translate(0) rotate(0) skew(0) scale(0) !important;
        }
    }

    @if $mixinName == "transition" {
        .transition {
            --transition-property: all;
            --transition-duration: 0s;
            --transition-timing-function: ease;
            --transition-delay: 0s;
            transition: var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
            transition-property: var(--transition-property);
        }
    }

    @if $mixinName == "no-transition" {
        .no-transition {
            transition: none 0s ease 0s !important;
        }
    }

    @if $mixinName == "text-clip" {
        .text-clip {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
        }
    }

    @if $mixinName == "text-ellipsis" {
        .text-ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@mixin build-property($class, $values, $property) {
    @if type-of($values) == "map" {
        @each $k, $v in $values {
            .#{$class}-#{$k} {
                @if type-of($property) == "list" {
                    @each $p in $property {
                        #{$p}: $v;
                    }
                } @else {
                    #{$property}: $v;
                }
            }
        }
    }

    @if type-of($values) == "list" {
        @each $v in $values {
            .#{$class}-#{$v} {
                @if type-of($property) == "list" {
                    @each $p in $property {
                        #{$p}: $v;
                    }
                } @else {
                    #{$property}: $v;
                }
            }
        }
    }
}