@mixin background-color($value, $imp: null) {
    background-color: $value $imp;
}

@mixin background-blend-mode($value,$imp:null) {
    @if index($background-blend-modes,$value) == null {
        @warn "Potentially invalid value for background-blend-modes list doesn't contain it !";
    } @else {
        background-blend-mode: $value $imp;
    }
}

@mixin background-size($value,$imp:null) {
    @if index($background-sizes,$value) == null {
        @warn "Potentially invalid value for background-sizes list doesn't contain it !";
    } @else {
        background-size: $value $imp;
    }
}