//:link :visited :hover :active LVHA
//style-map = (color, font-weight, font-size, background-color, font-style, text-decoration)

@mixin link(
    $link-style,
    $visited-style,
    $hover-style,
    $active-style,
    $imp:null
) {
    &:link {
        @if map-get($link-style, quote(color)) != null {
            color: map-get($link-style, quote(color)) $imp;
        }
        @if map-get($link-style, quote(font-weight)) != null {
            font-weight: map-get($link-style, quote(font-weight)) $imp;
        }
        @if map-get($link-style, quote(font-size)) != null {
            font-size: map-get($link-style, quote(font-size)) $imp;
        }
        @if map-get($link-style, quote(background-color)) != null {
            background-color: map-get($link-style, quote(background-color)) $imp;
        }
        @if map-get($link-style, quote(font-style)) != null {
            font-style: map-get($link-style, quote(font-style)) $imp;
        }
        @if map-get($link-style, quote(text-decoration)) != null {
            text-decoration: map-get($link-style, quote(text-decoration)) $imp;
        }
    }
    &:visited {
        @if map-get($visited-style, quote(color)) != null {
            color: map-get($visited-style, quote(color)) $imp;
        }
        @if map-get($visited-style, quote(font-weight)) != null {
            font-weight: map-get($visited-style, quote(font-weight)) $imp;
        }
        @if map-get($visited-style, quote(font-size)) != null {
            font-size: map-get($visited-style, quote(font-size)) $imp;
        }
        @if map-get($visited-style, quote(background-color)) != null {
            background-color: map-get($visited-style, quote(background-color)) $imp;
        }
        @if map-get($visited-style, quote(font-style)) != null {
            font-style: map-get($visited-style, quote(font-style)) $imp;
        }
        @if map-get($visited-style, quote(text-decoration)) != null {
            text-decoration: map-get($visited-style, quote(text-decoration)) $imp;
        }
    }
    &:hover {
        @if map-get($hover-style, quote(color)) != null {
            color: map-get($hover-style, quote(color)) $imp;
        }
        @if map-get($hover-style, quote(font-weight)) != null {
            font-weight: map-get($hover-style, quote(font-weight)) $imp;
        }
        @if map-get($hover-style, quote(font-size)) != null {
            font-size: map-get($hover-style, quote(font-size)) $imp;
        }
        @if map-get($hover-style, quote(background-color)) != null {
            background-color: map-get($hover-style, quote(background-color)) $imp;
        }
        @if map-get($hover-style, quote(font-style)) != null {
            font-style: map-get($hover-style, quote(font-style)) $imp;
        }
        @if map-get($hover-style, quote(text-decoration)) != null {
            text-decoration: map-get($hover-style, quote(text-decoration)) $imp;
        }
    }
    &:active {
        @if map-get($active-style, quote(color)) != null {
            color: map-get($active-style, quote(color)) $imp;
        }
        @if map-get($active-style, quote(font-weight)) != null {
            font-weight: map-get($active-style, quote(font-weight)) $imp;
        }
        @if map-get($active-style, quote(font-size)) != null {
            font-size: map-get($active-style, quote(font-size)) $imp;
        }
        @if map-get($active-style, quote(background-color)) != null {
            background-color: map-get($active-style, quote(background-color)) $imp;
        }
        @if map-get($active-style, quote(font-style)) != null {
            font-style: map-get($active-style, quote(font-style)) $imp;
        }
        @if map-get($active-style, quote(text-decoration)) != null {
            text-decoration: map-get($active-style, quote(text-decoration)) $imp;
        }
    }
}
