@mixin build-container($container-centered,$container-padding) {

    @include class-content("container") {
        width: 100%;
        @if $container-centered {
            margin-right: auto;
            margin-left: auto;
        }
        @if $container-padding != 0 and $container-padding !=  "0" {
            padding-left: $container-padding;
            padding-right: $container-padding;
        }
    }

    @include build-responsive-always-up() using ($name, $width) {
        @include class-content("container") {
            max-width: $width;
        }
    }
}