//Inset: Top Right Bottom Left
@import "functions";
@import "_variables";
@import "mixins";
@import "built-in-var";
@import "flex";
$NS: 'k-'; //namespace

@each $key, $val in built-in-var(inset) {
    @debug $key, $val;
    .#{$NS}i-#{$key} {
        top: $val;
        right: $val;
        bottom: $val;
        left: $val;
    }
    .#{$NS}ix-#{$key} {
        left: $val;
        right: $val;
    }
    .#{$NS}iy-#{$key} {
        top: $val;
        bottom: $val;
    }
    .#{$NS}it-#{$key} {
        top: $val;
    }
    .#{$NS}ir-#{$key} {
        right: $val;
    }
    .#{$NS}ib-#{$key} {
        bottom: $val;
    }
    .#{$NS}il-#{$key} {
        left: $val;
    }
}
