/****Options****/
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;
$enable-colors-class: true !default;
/****Variables****/

// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$slate-100: #e5e7ec !default;
$slate-200: #c7ccd7 !default;
$slate-300: #aab2c1 !default;
$slate-400: #8c97ac !default;
$slate-500: #6f7c96 !default;
$slate-600: #434b5c !default;
$slate-700: #343a47 !default;
$slate-800: #272c36 !default;
$slate-900: #181b21 !default;


$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge((
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
), $grays);

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge((
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "slate":$slate-600,
    "black":$black
), $colors);

$primary: $blue !default;
$secondary: $gray-600 !default;
$tertiary: $gray-700 !default;

$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge((
    "primary": $primary,
    "secondary": $secondary,
    "tertiary":$tertiary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
), $theme-colors);

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;

// Characters which are escaped by the escape-svg function
$escaped-characters: (("<", "%3c"), (">", "%3e"), ("#", "%23")) !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge((
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge((
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
), $sizes);


// Body
//
// Settings for the `<body>` element.

$body-bg: $slate-900 !default;
$body-color: $slate-100 !default;
$rem: 16px;


// Links
//
// Style anchor elements.

$link-color: theme-color("primary") !default;
$link-decoration: none !default;
$link-hover-color: lighten($link-color, 15%) !default;
$link-hover-decoration: underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$grid-row-columns: 6 !default;


// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;


/*******BORDER*******/
//Border-width
$border-width: 1px !default; //default border width
$border-widths: () !default;
$border-widths: map-merge((
    0: 0,
    1: $border-width,
    2: $border-width * 2,
    3: $border-width * 3,
    4: $border-width * 4,
    5: $border-width * 5
), $border-widths);

//Border-style
$border-style: solid !default; //default border style, not browser default "initial"="none"
$border-styles: () !default;
$border-styles: join((none, solid, dotted, dashed, double), $border-styles);

//Rounded:border-radius
$border-radius: 0.375rem !default; //default border radius
$border-radii: () !default;
$border-radii: map-merge((
    none: 0,
    tiny: 0.125rem, //xs 2px
    small: 0.25rem, //sm 4px
    "": $border-radius, //nm 6px
    large: 0.5rem, //lg 8px
    huge: 0.625rem //xl 10px
), $border-radii);
$border-radius-pill: 50rem !default; //large enough to round any element

/*******SHADOW*******/
//Shadow-size
// todo:
// 0 2px 12px 0 rgba($black, 0.1)
// 0 .125rem .25rem rgba($black, .075)
// 0 .5rem 1rem rgba($black, 0.15)
// 0 1rem 3rem rgba($black, .175)
$box-shadow: 0 2px 5px 0 rgba($black, 0.2);
$box-shadows: () !default;
$box-shadows: map-merge((
    none: none,
    tiny: 0 0 2px 0 rgba($black, .2),
    small: 0 1px 4px 0 rgba($black, .2),
    "":$box-shadow,
    large: 0 6px 9px 0 rgba($black, .2),
    huge: 0 10px 18px 0 rgba($black, .2)
), $box-shadows);

/*******TRANSITION*******/
$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;


/*******EMBED*******/
$embed-responsive-aspect-ratios: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$embed-responsive-aspect-ratios: join(((21 9), (16 9), (4 3), (1 1)), $embed-responsive-aspect-ratios);

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: "Droid Serif", Lucida, Georgia, Palatino, "Palatino Linotype", "Times New Roman", Times, serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

//font-family-primary/secondary/tertiary

// stylelint-enable value-keyword-case

/*******TEXT*******/


// Highlight
$highlight-text-color: $white;

// Font-size
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-larger: $font-size-base * 1.25 !default; //20px
$font-size-large: $font-size-base * 1.125 !default; //18px
$font-size-small: $font-size-base * 0.875 !default; //14px
$font-size-smaller: $font-size-base * 0.75 !default; //12px

$font-weight-lighter: lighter !default; //100
$font-weight-light: light !default; //300
$font-weight-normal: normal !default; //400
$font-weight-bold: bold !default; //700
$font-weight-bolder: bolder !default; //900
$font-weight-base: $font-weight-normal !default;


$line-height-base: 1.5 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$headings-margin-bottom: $spacer / 2 !default;
$headings-font-family: null !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;
// FE Add 2019.12.24
$display5-size: 2.5rem !default;
$display6-size: 1.5rem !default;
// FEnd

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;
// FE Add 2019.12.24
$display5-weight: 300 !default;
$display6-weight: 300 !default;
// FEnd

$display-line-height: $headings-line-height !default;

$lead-font-size: $font-size-base * 1.25 !default;
$lead-font-weight: 300 !default;

$small-font-size: 75% !default;

$text-muted: $gray-600 !default;

$blockquote-small-color: $gray-600 !default;
$blockquote-small-font-size: $small-font-size !default;
$blockquote-font-size: $font-size-base * 1.25 !default;

$hr-border-color: rgba($black, .1) !default;
$hr-border-width: $border-width !default;

$mark-padding: .2em !default;

$dt-font-weight: $font-weight-bold !default;


$list-inline-padding: .5rem !default;

$mark-bg: #fcf8e3 !default;

$hr-margin-y: $spacer !default;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;

// Utilities

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;
$v-aligns: baseline, top, middle, bottom, text-bottom, text-top !default;
$cursors: auto, default, pointer, crosshair, move, text, wait, help, not-allowed, zoom-in, zoom-out !default;


$background-sizes: auto, contain, cover !default;
$background-blend-modes: normal, multiply, screen, overlay, darken, lighten, color-dodge, color-burn, hard-light, soft-light, difference, exclusion, hue, saturation, color, luminosity !default;