@mixin acorn-mixin($mixin-name,$namespace: $namespace) {
    @if $mixin-name == "clearfix" {
        @include class-content("clearfix::after") {
            display: block;
            content: "";
            clear: both;
        }
    }

    @if $mixin-name == "sr-only" {
        @include class-content("sr-only") {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            border: 0;
            margin: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
        }
    }

    @if $mixin-name == "not-sr-only" {
        @include class-content("no-sr-only") {
            position: static;
            width: auto;
            height: auto;
            overflow: visible;
            clip: auto;
            white-space: normal;
        }
    }

    @if $mixin-name == "transform" {
        @include class-content("transform") {
            --transform-translate-x: 0;
            --transform-translate-y: 0;
            --transform-rotate: 0;
            --transform-skew-x: 0;
            --transform-skew-y: 0;
            --transform-scale-x: 1;
            --transform-scale-y: 1;
            transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y)) !important;
        }
    }

    @if $mixin-name == "no-transform" {
        @include class-content("no-transform") {
            transform: translate(0) rotate(0) skew(0) scale(0) !important;
        }
    }

    @if $mixin-name == "transition" {
        @include class-content("transition") {
            --transition-property: all;
            --transition-duration: 0s;
            --transition-timing-function: ease;
            --transition-delay: 0s;
            transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function) var(--transition-delay) !important;
            transition-property: var(--transition-property) !important;
        }
    }

    @if $mixin-name == "no-transition" {
        @include class-content("no-transition") {
            transition: none 0s ease 0s !important;
        }
    }

    @if $mixin-name == "text-clip" {
        @include class-content("text-clip") {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
        }
    }

    @if $mixin-name == "text-ellipsis" {
        @include class-content("text-ellipsis") {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}